

label
{
	float: left; 
	width: 150px; 

}



input, textarea
{
	width: 180ox; 
	margin-bottom: 5px; 

}



.tblStyle
{
	border-width: 1px; 
	border-spacing: 2px; 
	border-style: outset; 
	border-color: gray; 
	border-collapse: separate; 

}



.tblHeaderCell
{

}


.tblHeaderCell a
{

}



.tblCell
{

}

